*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 120px;
    padding: 1rem;
    background-color: white;
}

img{
    height: 80px;
}

#title{
    color: rgb(13, 26, 50);
    font-size: 50px;
    display: inline-block;
    text-align: center;
}

body{
    background-color: rgb(233, 233, 233);
}

.buttons{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem 0rem 0.7rem 3.5rem
}
